@font-face {
  font-family: "Bad";
  src: url("BreakingBad.otf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

/* Some basic styling */
body {
  background: #000;
}

/* center our section in the middle of the screen */
section#breakingbad {
  position: relative;
  top: 300px;
  width: 400px;
  height: 700px;
  margin: 0 auto;
  overflow: show;
  transform: scale(1.5);
}

.chemical-element {
  width: 165px;
  height: 165px;
  position: relative;
  display: inline-block;

  border: 3px solid #fff;

  font: bold 95px Arial;
  padding: 25px 25px 25px 30px;
  color: #fafffb;
  background: linear-gradient(
    -45deg,
    rgba(92, 190, 115, 1) 1%,
    rgba(24, 43, 4, 1) 100%
  );
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  font-family: "Bad-otf";
}

.bg-flip {
  background: linear-gradient(
    135deg,
    rgba(92, 190, 115, 1) 1%,
    rgba(24, 43, 4, 1) 100%
  );
}

/* Just moved the second element to the right */
.chemical-element[role="second"] {
  margin-left: 165px;

  /* The "Ba" is too far right */
  padding-left: 23px;
}

/* default styling for all descs */
.desc {
  position: absolute;
  font: bold 13px Arial;
  color: rgba(244, 247, 245, 0.95);
}

.desc.big {
  font: bold 20px Arial;
}

.desc.medium {
  font: bold 17px Arial;
}

/* every element has his own position, that's why we use the "role" attribute */
div[role="top-left"] {
  top: 8px;
  left: 10px;
}

div[role="top-right"] {
  top: 8px;
  right: 5px;
  text-align: right;

  /* Some width to force line break */
  width: 25px;
}

div[role="bottom-left-1"] {
  bottom: 20px;
  left: 5px;
}

div[role="bottom-left-2"] {
  bottom: 5px;
  left: 5px;
}

.title {
  width: 50px;
  display: inline-block;
  height: 130px;
  vertical-align: bottom;
}

.title[role="second"] {
  height: 160px;
  padding-left: 10px;
  font-family: "Bad";
  color: #fff;
  font-size: 150px;
}
